[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-freemarker"]
	path = .vim/bundle/vim-freemarker
	url = https://github.com/andreshazard/vim-freemarker
[submodule ".vim/bundle/vim-solarized8"]
	path = .vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".vim/bundle/nvim-lsp"]
	path = .vim/bundle/nvim-lsp
	url = git@github.com:neovim/nvim-lsp.git
[submodule ".vim/bundle/kotlin-vim"]
	path = .vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
